body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:936px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u195_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#000000;
}
#u195 {
  border-width:0px;
  position:absolute;
  left:274px;
  top:44px;
  width:118px;
  height:35px;
  font-size:20px;
  color:#000000;
}
#u195_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  word-wrap:break-word;
}
#u196 {
  border-width:0px;
  position:absolute;
  left:274px;
  top:79px;
  width:355px;
  height:150px;
}
#u197_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u197 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u197_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:104px;
  word-wrap:break-word;
}
#u198_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:30px;
}
#u198 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:0px;
  width:247px;
  height:30px;
}
#u198_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:243px;
  word-wrap:break-word;
}
#u199_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u199 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:108px;
  height:30px;
}
#u199_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:104px;
  word-wrap:break-word;
}
#u200_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:30px;
}
#u200 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:30px;
  width:247px;
  height:30px;
}
#u200_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:243px;
  word-wrap:break-word;
}
#u201_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u201 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:108px;
  height:30px;
}
#u201_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:104px;
  word-wrap:break-word;
}
#u202_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:30px;
}
#u202 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:60px;
  width:247px;
  height:30px;
}
#u202_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:243px;
  word-wrap:break-word;
}
#u203_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u203 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:108px;
  height:30px;
}
#u203_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:104px;
  word-wrap:break-word;
}
#u204_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:30px;
}
#u204 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:90px;
  width:247px;
  height:30px;
}
#u204_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:243px;
  word-wrap:break-word;
}
#u205_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u205 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:108px;
  height:30px;
}
#u205_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:104px;
  word-wrap:break-word;
}
#u206_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:30px;
}
#u206 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:120px;
  width:247px;
  height:30px;
}
#u206_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:243px;
  word-wrap:break-word;
}
#u207 {
  border-width:0px;
  position:absolute;
  left:274px;
  top:257px;
  width:98px;
  height:25px;
}
#u207_input {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u208_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FF0000;
}
#u208 {
  border-width:0px;
  position:absolute;
  left:287px;
  top:0px;
  width:485px;
  height:29px;
  font-size:20px;
  color:#FF0000;
}
#u208_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  word-wrap:break-word;
}
#u209_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-10px;
  width:317px;
  height:77px;
}
#u209p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:62px;
  width:264px;
  height:6px;
}
#u209p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:6px;
}
#u209p001 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:30px;
  width:68px;
  height:6px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u209p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:6px;
}
#u209p002 {
  border-width:0px;
  position:absolute;
  left:258px;
  top:-2px;
  width:50px;
  height:6px;
}
#u209p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:6px;
}
#u209p003 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:64px;
  width:6px;
  height:4px;
}
#u209p003_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:4px;
}
#u209p004 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:-10px;
  width:24px;
  height:22px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u209p004_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
}
#u209.compound {
  width:0px;
  height:0px;
}
#u209 {
  border-width:0px;
  position:absolute;
  left:382px;
  top:204px;
  width:306px;
  height:65px;
  color:#FF0000;
}
#u209_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u210_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u210 {
  border-width:0px;
  position:absolute;
  left:698px;
  top:192px;
  width:120px;
  height:29px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u210_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u211_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-decoration:underline;
  color:#FF0000;
}
#u211 {
  border-width:0px;
  position:absolute;
  left:697px;
  top:145px;
  width:239px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-decoration:underline;
  color:#FF0000;
}
#u211_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  word-wrap:break-word;
}
#u212_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-10px;
  width:59px;
  height:22px;
}
#u212p000 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-1px;
  width:54px;
  height:4px;
}
#u212p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:4px;
}
#u212p001 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:4px;
  height:4px;
}
#u212p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u212p002 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:-11px;
  width:24px;
  height:24px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u212p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u212 {
  border-width:0px;
  position:absolute;
  left:639px;
  top:153px;
  width:48px;
  height:2px;
}
#u212_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
