body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1424px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u213_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:443px;
  height:232px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u213 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:160px;
  width:443px;
  height:232px;
}
#u213_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:108px;
  width:439px;
  word-wrap:break-word;
}
#u214_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#009900;
}
#u214 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:7px;
  width:355px;
  height:35px;
  font-size:20px;
  color:#009900;
}
#u214_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  word-wrap:break-word;
}
#u215_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:22px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u215 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:99px;
  width:324px;
  height:22px;
  font-size:18px;
}
#u215_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  white-space:nowrap;
}
#u216_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:984px;
  height:43px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-decoration:underline;
  color:#006699;
}
#u216 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:42px;
  width:984px;
  height:43px;
  font-size:20px;
  text-decoration:underline;
  color:#006699;
}
#u216_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:980px;
  word-wrap:break-word;
}
#u217_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:22px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u217 {
  border-width:0px;
  position:absolute;
  left:401px;
  top:99px;
  width:126px;
  height:22px;
  font-size:18px;
}
#u217_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  white-space:nowrap;
}
#u218 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:127px;
  width:99px;
  height:25px;
}
#u218_input {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u219 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:127px;
  width:99px;
  height:25px;
}
#u219_input {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u220 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:127px;
  width:99px;
  height:25px;
}
#u220_input {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u221_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:18px;
}
#u221 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:183px;
  width:219px;
  height:22px;
  font-size:18px;
}
#u221_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  word-wrap:break-word;
}
#u222_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-decoration:underline;
  color:#006699;
}
#u222 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:183px;
  width:64px;
  height:22px;
  font-size:18px;
  text-decoration:underline;
  color:#006699;
}
#u222_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  word-wrap:break-word;
}
#u223_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u223 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:215px;
  width:142px;
  height:22px;
  font-size:18px;
}
#u223_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u224 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:215px;
  width:335px;
  height:25px;
}
#u224_input {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u225_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u225 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:275px;
  width:142px;
  height:22px;
  font-size:18px;
}
#u225_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u226 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:250px;
  width:335px;
  height:84px;
}
#u226_input {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:84px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u227 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:344px;
  width:70px;
  height:25px;
}
#u227_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u228_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u228 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:349px;
  width:288px;
  height:16px;
}
#u228_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  word-wrap:break-word;
}
#u229_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:443px;
  height:232px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u229 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:160px;
  width:443px;
  height:232px;
}
#u229_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:108px;
  width:439px;
  word-wrap:break-word;
}
#u230_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:18px;
}
#u230 {
  border-width:0px;
  position:absolute;
  left:516px;
  top:183px;
  width:243px;
  height:22px;
  font-size:18px;
}
#u230_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  word-wrap:break-word;
}
#u231_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-decoration:underline;
  color:#006699;
}
#u231 {
  border-width:0px;
  position:absolute;
  left:759px;
  top:180px;
  width:40px;
  height:22px;
  font-size:18px;
  text-decoration:underline;
  color:#006699;
}
#u231_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u232_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u232 {
  border-width:0px;
  position:absolute;
  left:516px;
  top:215px;
  width:142px;
  height:22px;
  font-size:18px;
}
#u232_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u233 {
  border-width:0px;
  position:absolute;
  left:575px;
  top:215px;
  width:335px;
  height:25px;
}
#u233_input {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u234_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u234 {
  border-width:0px;
  position:absolute;
  left:516px;
  top:275px;
  width:142px;
  height:22px;
  font-size:18px;
}
#u234_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u235 {
  border-width:0px;
  position:absolute;
  left:575px;
  top:250px;
  width:335px;
  height:84px;
}
#u235_input {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:84px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u236 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:344px;
  width:70px;
  height:25px;
}
#u236_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u237_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u237 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:349px;
  width:288px;
  height:16px;
}
#u237_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  word-wrap:break-word;
}
#u238_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:443px;
  height:232px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u238 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:392px;
  width:443px;
  height:232px;
}
#u238_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:108px;
  width:439px;
  word-wrap:break-word;
}
#u239_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:18px;
}
#u239 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:415px;
  width:274px;
  height:22px;
  font-size:18px;
}
#u239_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  word-wrap:break-word;
}
#u240_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-decoration:underline;
  color:#006699;
}
#u240 {
  border-width:0px;
  position:absolute;
  left:382px;
  top:415px;
  width:40px;
  height:22px;
  font-size:18px;
  text-decoration:underline;
  color:#006699;
}
#u240_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u241_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u241 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:447px;
  width:142px;
  height:22px;
  font-size:18px;
}
#u241_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u242 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:447px;
  width:335px;
  height:25px;
}
#u242_input {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u243_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u243 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:507px;
  width:142px;
  height:22px;
  font-size:18px;
}
#u243_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u244 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:482px;
  width:335px;
  height:84px;
}
#u244_input {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:84px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u245 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:576px;
  width:70px;
  height:25px;
}
#u245_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u246_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u246 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:581px;
  width:288px;
  height:16px;
}
#u246_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  word-wrap:break-word;
}
#u247_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:443px;
  height:232px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u247 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:392px;
  width:443px;
  height:232px;
}
#u247_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:108px;
  width:439px;
  word-wrap:break-word;
}
#u248_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:18px;
}
#u248 {
  border-width:0px;
  position:absolute;
  left:516px;
  top:415px;
  width:265px;
  height:22px;
  font-size:18px;
}
#u248_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  word-wrap:break-word;
}
#u249_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-decoration:underline;
  color:#006699;
}
#u249 {
  border-width:0px;
  position:absolute;
  left:799px;
  top:415px;
  width:40px;
  height:22px;
  font-size:18px;
  text-decoration:underline;
  color:#006699;
}
#u249_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u250_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u250 {
  border-width:0px;
  position:absolute;
  left:516px;
  top:447px;
  width:142px;
  height:22px;
  font-size:18px;
}
#u250_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u251 {
  border-width:0px;
  position:absolute;
  left:575px;
  top:447px;
  width:335px;
  height:25px;
}
#u251_input {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u252_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u252 {
  border-width:0px;
  position:absolute;
  left:516px;
  top:507px;
  width:142px;
  height:22px;
  font-size:18px;
}
#u252_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u253 {
  border-width:0px;
  position:absolute;
  left:575px;
  top:482px;
  width:335px;
  height:84px;
}
#u253_input {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:84px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u254 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:576px;
  width:70px;
  height:25px;
}
#u254_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u255_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u255 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:581px;
  width:288px;
  height:16px;
}
#u255_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  word-wrap:break-word;
}
#u256_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:443px;
  height:232px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u256 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:624px;
  width:443px;
  height:232px;
}
#u256_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:108px;
  width:439px;
  word-wrap:break-word;
}
#u257_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:18px;
}
#u257 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:647px;
  width:355px;
  height:22px;
  font-size:18px;
}
#u257_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  word-wrap:break-word;
}
#u258_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-decoration:underline;
  color:#006699;
}
#u258 {
  border-width:0px;
  position:absolute;
  left:438px;
  top:647px;
  width:40px;
  height:22px;
  font-size:18px;
  text-decoration:underline;
  color:#006699;
}
#u258_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u259_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u259 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:679px;
  width:142px;
  height:22px;
  font-size:18px;
}
#u259_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u260 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:679px;
  width:335px;
  height:25px;
}
#u260_input {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u261_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u261 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:739px;
  width:142px;
  height:22px;
  font-size:18px;
}
#u261_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u262 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:714px;
  width:335px;
  height:84px;
}
#u262_input {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:84px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u263 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:808px;
  width:70px;
  height:25px;
}
#u263_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u264_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u264 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:813px;
  width:288px;
  height:16px;
}
#u264_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  word-wrap:break-word;
}
#u265_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:443px;
  height:232px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u265 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:624px;
  width:443px;
  height:232px;
}
#u265_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:108px;
  width:439px;
  word-wrap:break-word;
}
#u266_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:18px;
}
#u266 {
  border-width:0px;
  position:absolute;
  left:516px;
  top:647px;
  width:297px;
  height:22px;
  font-size:18px;
}
#u266_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  word-wrap:break-word;
}
#u267_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-decoration:underline;
  color:#006699;
}
#u267 {
  border-width:0px;
  position:absolute;
  left:823px;
  top:647px;
  width:40px;
  height:22px;
  font-size:18px;
  text-decoration:underline;
  color:#006699;
}
#u267_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u268_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u268 {
  border-width:0px;
  position:absolute;
  left:516px;
  top:679px;
  width:142px;
  height:22px;
  font-size:18px;
}
#u268_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u269 {
  border-width:0px;
  position:absolute;
  left:575px;
  top:679px;
  width:335px;
  height:25px;
}
#u269_input {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u270_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u270 {
  border-width:0px;
  position:absolute;
  left:516px;
  top:739px;
  width:142px;
  height:22px;
  font-size:18px;
}
#u270_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u271 {
  border-width:0px;
  position:absolute;
  left:575px;
  top:714px;
  width:335px;
  height:84px;
}
#u271_input {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:84px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u272 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:808px;
  width:70px;
  height:25px;
}
#u272_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u273_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u273 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:813px;
  width:288px;
  height:16px;
}
#u273_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u274_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:389px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u274 {
  border-width:0px;
  position:absolute;
  left:1035px;
  top:186px;
  width:389px;
  height:16px;
  color:#FF0000;
}
#u274_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:389px;
  word-wrap:break-word;
}
#u275_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-10px;
  width:227px;
  height:22px;
}
#u275p000 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-1px;
  width:222px;
  height:4px;
}
#u275p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:4px;
}
#u275p001 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:4px;
  height:4px;
}
#u275p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u275p002 {
  border-width:0px;
  position:absolute;
  left:199px;
  top:-11px;
  width:24px;
  height:24px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u275p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u275 {
  border-width:0px;
  position:absolute;
  left:809px;
  top:193px;
  width:216px;
  height:2px;
}
#u275_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u276_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-10px;
  width:404px;
  height:22px;
}
#u276p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-1px;
  width:398px;
  height:4px;
}
#u276p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:4px;
}
#u276p001 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-1px;
  width:4px;
  height:4px;
}
#u276p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u276p002 {
  border-width:0px;
  position:absolute;
  left:376px;
  top:-11px;
  width:24px;
  height:24px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u276p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u276 {
  border-width:0px;
  position:absolute;
  left:582px;
  top:363px;
  width:393px;
  height:2px;
}
#u276_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u277_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u277 {
  border-width:0px;
  position:absolute;
  left:985px;
  top:356px;
  width:343px;
  height:32px;
  color:#FF0000;
}
#u277_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  word-wrap:break-word;
}
#u278_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-10px;
  width:336px;
  height:22px;
}
#u278p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-1px;
  width:330px;
  height:4px;
}
#u278p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:4px;
}
#u278p001 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-1px;
  width:4px;
  height:4px;
}
#u278p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u278p002 {
  border-width:0px;
  position:absolute;
  left:308px;
  top:-11px;
  width:24px;
  height:24px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u278p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u278 {
  border-width:0px;
  position:absolute;
  left:382px;
  top:135px;
  width:325px;
  height:2px;
}
#u278_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u279_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:461px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u279 {
  border-width:0px;
  position:absolute;
  left:713px;
  top:120px;
  width:461px;
  height:32px;
  color:#FF0000;
}
#u279_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:461px;
  word-wrap:break-word;
}
#u280_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u280 {
  border-width:0px;
  position:absolute;
  left:985px;
  top:405px;
  width:183px;
  height:32px;
  color:#FF0000;
}
#u280_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  word-wrap:break-word;
}
#u281_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u281 {
  border-width:0px;
  position:absolute;
  left:985px;
  top:223px;
  width:206px;
  height:32px;
  color:#FF0000;
}
#u281_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  word-wrap:break-word;
}
#u282_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-10px;
  width:117px;
  height:22px;
}
#u282p000 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-1px;
  width:112px;
  height:4px;
}
#u282p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:4px;
}
#u282p001 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:4px;
  height:4px;
}
#u282p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u282p002 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:-11px;
  width:24px;
  height:24px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u282p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u282 {
  border-width:0px;
  position:absolute;
  left:869px;
  top:231px;
  width:106px;
  height:2px;
}
#u282_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u283_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-decoration:underline;
  color:#FF0000;
}
#u283 {
  border-width:0px;
  position:absolute;
  left:713px;
  top:95px;
  width:211px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-decoration:underline;
  color:#FF0000;
}
#u283_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  word-wrap:break-word;
}
#u284_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-decoration:underline;
  color:#FF0000;
}
#u284 {
  border-width:0px;
  position:absolute;
  left:1006px;
  top:637px;
  width:239px;
  height:18px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-decoration:underline;
  color:#FF0000;
}
#u284_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  word-wrap:break-word;
}
#u285_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-10px;
  width:59px;
  height:22px;
}
#u285p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-1px;
  width:52px;
  height:4px;
}
#u285p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:4px;
}
#u285p001 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-1px;
  width:4px;
  height:4px;
}
#u285p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u285p002 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:-11px;
  width:24px;
  height:24px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u285p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u285 {
  border-width:0px;
  position:absolute;
  left:948px;
  top:647px;
  width:48px;
  height:2px;
}
#u285_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u286_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-decoration:underline;
  color:#FF0000;
}
#u286 {
  border-width:0px;
  position:absolute;
  left:985px;
  top:327px;
  width:240px;
  height:18px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-decoration:underline;
  color:#FF0000;
}
#u286_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  word-wrap:break-word;
}
#u287_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-1px;
  width:35px;
  height:772px;
}
#u287 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:142px;
  width:23px;
  height:761px;
}
#u287_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u288_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-decoration:underline;
  color:#FF0000;
}
#u288 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:923px;
  width:240px;
  height:18px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-decoration:underline;
  color:#FF0000;
}
#u288_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  word-wrap:break-word;
}
#u289_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-1px;
  width:22px;
  height:99px;
}
#u289p000 {
  border-width:0px;
  position:absolute;
  left:-45px;
  top:41px;
  width:92px;
  height:6px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u289p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:6px;
}
#u289p001 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:4px;
  height:4px;
}
#u289p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u289p002 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:71px;
  width:24px;
  height:24px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u289p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u289 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:835px;
  width:2px;
  height:88px;
}
#u289_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
